<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/GPXInspector32.png">
         <run
               class="net.kenevans.gpxinspector.plugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.kenevans.gpxinspector.perspectives.Perspective"
            icon="icons/GPXInspector16.png"
            id="net.kenevans.gpxinspector.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.kenevans.gpxinspector.category"
            class="net.kenevans.gpxinspector.views.GpxView"
            icon="icons/GPXInspector16.png"
            id="net.kenevans.gpxinspector.gpxView"
            name="GPX"
            restorable="true">
      </view>
      <category
            id="net.kenevans.gpxinspector.category"
            name="GPX Inspector">
      </category>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.kenevans.gpxinspector.application"
            name="GPX Inspector">
         <property
               name="windowImages"
               value="icons/GPXInspector16.png,icons/GPXInspector32.png">
         </property>
         <property
               name="appName"
               value="GPX Inspector">
         </property>
         <property
               name="aboutImage"
               value="icons/GPXInspectorAbout.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.kenevans.gpxinspector.gpxView?after=additions">
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               icon="icons/remove.gif"
               label="Remove"
               commandId="net.kenevans.gpxinspector.remove">
                style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.removeAll"
               icon="icons/removeAll.gif"
               label="Remove All"
               style="push">
         </command>
         <separator
               name="separator2"
               visible="true">
               style="push">
         </separator>
         <command
               label="Check All"
               commandId="net.kenevans.gpxinspector.checkAll">
               style="push">
         </command>
         <command
               label="Uncheck All"
               commandId="net.kenevans.gpxinspector.uncheckAll">
               style="push">
         </command>
         <separator
               name="separator3"
               visible="true">
         </separator>
         <command
               icon="icons/expandall.gif"
               label="Expand Level"
               commandId="net.kenevans.gpxinspector.expand">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse Level"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse All"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <separator
               name="separator4"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveAsStartupPreference"
               label="Save Checked as Startup Preference"
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.addStartupFilesFromPreferences"
               icon="icons/add.gif"
               label="Add Startup Files from Preferences"
               style="push">
         </command>
         <separator
               name="separator5"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.findNear"
               label="Find Near..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.findFilesNear"
               label="Find Files Near..."
               style="push">
         </command>
         <separator
               name="separator6"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.save"
               label="Save Selected GPX Files..."
               style="push">
         </command>
         <separator
               name="separator7"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
         <separator
               name="separator8"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.debug"
               icon="icons/debug_exc.gif"
               label="Debug"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.kenevans.gpxinspector.gpxView?after=additions">
         <separator
               name="separator1"
               visible="true">
         </separator>
         <menu
               icon="icons/add.gif"
               label="Add">
            <command
                  commandId="net.kenevans.gpxinspector.newFile"
                  label="File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxFileModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="?">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.newTrack"
                  label="Track"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxFileModel">
                           </instanceof>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxTrackModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.newTrackSegment"
                  label="Track Segment"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxTrackModel">
                           </instanceof>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxTrackSegmentModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.newRoute"
                  label="Route"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxFileModel">
                           </instanceof>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxRouteModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.newWaypoint"
                  label="Waypoint"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxFileModel">
                           </instanceof>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxTrackSegmentModel">
                           </instanceof>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxRouteModel">
                           </instanceof>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxWaypointModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <command
               icon="icons/remove.gif"
               label="Remove"
               commandId="net.kenevans.gpxinspector.remove">
                style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.removeAll"
               icon="icons/removeAll.gif"
               label="Remove All"
               style="push">
         </command>
         <separator
               name="separator2"
               visible="true">
               style="push">
         </separator>
         <command
               label="Check All"
               commandId="net.kenevans.gpxinspector.checkAll">
               style="push">
         </command>
         <command
               label="Uncheck All"
               commandId="net.kenevans.gpxinspector.uncheckAll">
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.refreshTree"
               label="Refresh Tree"
               style="push">
         </command>
         <separator
               name="separator3"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.showInfo"
               label="Info..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.kenevans.gpxinspector.activeMenuSelection1">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="separator4"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.debug"
               icon="icons/debug_exc.gif"
               label="Debug"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="net.kenevans.gpxinspector.sort"
               label="Sort">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.kenevans.gpxinspector.activeMenuSelection1">
               </reference>
            </visibleWhen>
            style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.reverse"
               label="Reverse">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.kenevans.gpxinspector.activeMenuSelection1">
               </reference>
            </visibleWhen>
            style="push">
         </command>
         <separator
               name="separator5"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveAsStartupPreference"
               label="Save Checked as Startup Preference"
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.addStartupFilesFromPreferences"
               icon="icons/add.gif"
               label="Add Startup Files from Preferences"
               style="push">
         </command>
         <separator
               name="separator6"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.save"
               label="Save Selected GPX Files..."
               style="push">
         </command>
         <separator
               name="separator7"
               visible="true">
            style="push">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
         <separator
               name="separator8"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.cut"
               icon="icons/cut_edit.gif"
               label="Cut"
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.copy"
               icon="icons/copy_edit.gif"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.paste"
               icon="icons/paste_edit.gif"
               label="Paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.kenevans.gpxinspector.activeMenuSelection1">
               </reference>
            </visibleWhen>
         </command>
         <menu
               label="Paste Special">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.kenevans.gpxinspector.activeMenuSelection1">
               </reference>
            </visibleWhen>
            <command
                  commandId="net.kenevans.gpxinspector.pasteFirst"
                  icon="icons/paste_edit.gif"
                  label="Paste at Beginning"
                  style="push">
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.pasteBefore"
                  icon="icons/paste_edit.gif"
                  label="Paste Before"
                  style="push">
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.pasteReplace"
                  icon="icons/paste_edit.gif"
                  label="Paste Replace"
                  style="push">
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.pasteAfter"
                  icon="icons/paste_edit.gif"
                  label="Paste After"
                  style="push">
            </command>
            <command
                  commandId="net.kenevans.gpxinspector.pasteLast"
                  icon="icons/paste_edit.gif"
                  label="Paste at End"
                  style="push">
            </command>
         </menu>
         <separator
               name="separator9"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.mergeAllSegments"
               label="Merge All Segments"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxTrackModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="+">
                     </count>
                  </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.kenevans.gpxinspector.mergeSegments"
               label="Merge Segments"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <instanceof
                                 value="net.kenevans.gpxinspector.model.GpxTrackSegmentModel">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="(1-">
                     </count>
                  </with>
            </visibleWhen>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:net.kenevans.gpxinspector.gpxView?after=additions">
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <command
               icon="icons/remove.gif"
               label="Remove"
               commandId="net.kenevans.gpxinspector.remove">
                style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.removeAll"
               icon="icons/removeAll.gif"
               label="Remove All"
               style="push">
         </command>
         <command
               icon="icons/expandall.gif"
               label="Expand Level"
               commandId="net.kenevans.gpxinspector.expand">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse Level"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.save"
               label="Save Selected GPX Files..."
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.findNear"
               label="Find Near..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.findFilesNear"
               label="Find Files Near..."
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.saveAsStartupPreference"
            name="Save Checked as Startup Preference">
      </command>
      <category
            id="net.kenevans.gpxinspector.category"
            name="GPX Inspector">
      </category>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.SaveKmlHandler"
            id="net.kenevans.gpxinspector.saveKml"
            name="Save KML...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.OpenGpxFileHandler"
            id="net.kenevans.gpxinspector.openGpxFile"
            name="Open GPX File...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.FindNearHandler"
            id="net.kenevans.gpxinspector.findNear"
            name="Find Near...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.FindFilesNearHandler"
            id="net.kenevans.gpxinspector.findFilesNear"
            name="Find Files Near...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.addStartupFilesFromPreferences"
            name="Add Startup Files from Preferences">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.remove"
            name="Remove">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.checkAll"
            name="Check All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.removeAll"
            name="Remove All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.uncheckAll"
            name="Uncheck All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.expand"
            name="Expand Level">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.collapse"
            name="Collapse Level">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.collapse"
            name="Collapse All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.showInfo"
            name="Info...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.save"
            name="Save Selected GPX Files...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.refreshTree"
            name="Refresh Tree">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.cut"
            name="Cut">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.copy"
            name="Copy">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.paste"
            name="Paste">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.pasteFirst"
            name="Paste at Beginning">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.pasteBefore"
            name="Paste Before">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.pasteReplace"
            name="Paste Replace">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.pasteAfter"
            name="Paste After">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.pasteLast"
            name="Paste at End">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.debug"
            name="Debug">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.sort"
            name="Sort">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.reverse"
            name="Reverse">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.newFile"
            name="File">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.newTrack"
            name="Track">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.newTrackSegment"
            name="Track Segment">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.newWaypoint"
            name="Waypoint">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.newRoute"
            name="Route">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.mergeAllSegments"
            name="Merge All Segments">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.mergeSegments"
            name="Merge Segments">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.kenevans.gpxinspector.preferences.GpxInspectorPreferencePage"
            id="net.kenevans.gpxinspector.preferencePage"
            name="GPX Inspector">
      </page>
      <page
            category="net.kenevans.gpxinspector.preferencePage"
            class="net.kenevans.gpxinspector.preferences.StartupPreferencePage"
            id="net.kenevans.gpxinspector.startupPreferencePage"
            name="Startup">
      </page>
      <page
            category="net.kenevans.gpxinspector.preferencePage"
            class="net.kenevans.gpxinspector.preferences.KMLPreferencePage"
            id="net.kenevans.gpxinspector.kmlPreferencePage"
            name="KML">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.kenevans.gpxinspector.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.kenevans.gpxinspector.cut"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="net.kenevans.gpxinspector.copy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+C">
      </key>
      <key
            commandId="net.kenevans.gpxinspector.paste"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+V">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.kenevans.gpxinspector.activeMenuSelection1">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
               </with>
      </definition>
   </extension>

</plugin>
