<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/GPXInspector32.png">
         <run
               class="net.kenevans.gpxinspector.plugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.kenevans.gpxinspector.perspectives.Perspective"
            icon="icons/GPXInspector16.png"
            id="net.kenevans.gpxinspector.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.kenevans.gpxinspector.category"
            class="net.kenevans.gpxinspector.views.GpxView"
            icon="icons/GPXInspector16.png"
            id="net.kenevans.gpxinspector.gpxView"
            name="GPX"
            restorable="true">
      </view>
      <category
            id="net.kenevans.gpxinspector.category"
            name="GPX Inspector">
      </category>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.kenevans.gpxinspector.application"
            name="GPX Inspector">
         <property
               name="windowImages"
               value="icons/GPXInspector16.png,icons/GPXInspector32.png">
         </property>
         <property
               name="appName"
               value="GPX Inspector">
         </property>
         <property
               name="aboutImage"
               value="icons/GPXInspectorAbout.png">
         </property>
         <property
               name="aboutText"
               value="GPX Inspector&#x0A;&#x0A;If this application works, it was written by&#x0A;Kenneth Evans&#x0A;&#x0A;kenevans.net">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.kenevans.gpxinspector.gpxView?after=additions">
         <separator
               name="net.kenevans.gpxinspector.separator1"
               visible="true">
         </separator>
         <command
               icon="icons/add.gif"
               label="Add"
               commandId="net.kenevans.gpxinspector.add">
                style="push">
         </command>
         <command
               icon="icons/remove.gif"
               label="Remove"
               commandId="net.kenevans.gpxinspector.remove">
                style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.removeAll"
               icon="icons/removeAll.gif"
               label="Remove All"
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator2"
               visible="true">
               style="push">
         </separator>
         <command
               label="Check All"
               commandId="net.kenevans.gpxinspector.checkAll">
               style="push">
         </command>
         <command
               label="Uncheck All"
               commandId="net.kenevans.gpxinspector.uncheckAll">
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator3"
               visible="true">
         </separator>
         <command
               icon="icons/expandall.gif"
               label="Expand Level"
               commandId="net.kenevans.gpxinspector.expand">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse Level"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse All"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator4"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator5"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveAsStartupPreference"
               label="Save Checked as Startup Preference"
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.addStartupFilesFromPreferences"
               icon="icons/add.gif"
               label="Add Startup Files from Preferences"
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator6"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.findNear"
               label="Find Near..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.findFilesNear"
               label="Find Files Near..."
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator7"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.kenevans.gpxinspector.gpxView?after=additions">
         <separator
               name="net.kenevans.gpxinspector.separator1"
               visible="true">
         </separator>
         <command
               icon="icons/add.gif"
               label="Add"
               commandId="net.kenevans.gpxinspector.add">
                style="push">
         </command>
         <command
               icon="icons/remove.gif"
               label="Remove"
               commandId="net.kenevans.gpxinspector.remove">
                style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.removeAll"
               icon="icons/removeAll.gif"
               label="Remove All"
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator2"
               visible="true">
               style="push">
         </separator>
         <command
               label="Check All"
               commandId="net.kenevans.gpxinspector.checkAll">
               style="push">
         </command>
         <command
               label="Uncheck All"
               commandId="net.kenevans.gpxinspector.uncheckAll">
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator3"
               visible="true">
         </separator>
         <command
               icon="icons/expandall.gif"
               label="Expand Level"
               commandId="net.kenevans.gpxinspector.expand">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse Level"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse All"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator4"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.showInfo"
               label="Info..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator5"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveAsStartupPreference"
               label="Save Checked as Startup Preference"
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.addStartupFilesFromPreferences"
               icon="icons/add.gif"
               label="Add Startup Files from Preferences"
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator6"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.findNear"
               label="Find Near..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.findFilesNear"
               label="Find Files Near..."
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator7"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:net.kenevans.gpxinspector.gpxView?after=additions">
         <command
               icon="icons/add.gif"
               label="Add"
               commandId="net.kenevans.gpxinspector.add">
                style="push">
         </command>
         <command
               icon="icons/remove.gif"
               label="Remove"
               commandId="net.kenevans.gpxinspector.remove">
                style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.removeAll"
               icon="icons/removeAll.gif"
               label="Remove All"
               style="push">
         </command>
         <command
               icon="icons/expandall.gif"
               label="Expand Level"
               commandId="net.kenevans.gpxinspector.expand">
               style="push">
         </command>
         <command
               icon="icons/collapseall.gif"
               label="Collapse Level"
               commandId="net.kenevans.gpxinspector.collapse">
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="net.kenevans.gpxinspector.openGpxFile"
               icon="icons/GPXInspector16.png"
               label="Open GPX File..."
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator1"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.findNear"
               label="Find Near..."
               style="push">
         </command>
         <command
               commandId="net.kenevans.gpxinspector.findFilesNear"
               label="Find Files Near..."
               style="push">
         </command>
         <separator
               name="net.kenevans.gpxinspector.separator2"
               visible="true">
         </separator>
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="net.kenevans.gpxinspector.saveKml"
               icon="icons/ge16.png"
               label="Save KML..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.add"
            name="Add">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.saveAsStartupPreference"
            name="Save Checked as Startup Preference">
      </command>
      <category
            id="net.kenevans.gpxinspector.category"
            name="GPX Inspector">
      </category>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.SaveKmlHandler"
            id="net.kenevans.gpxinspector.saveKml"
            name="Save KML...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.OpenGpxFileHandler"
            id="net.kenevans.gpxinspector.openGpxFile"
            name="Open GPX File...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.FindNearHandler"
            id="net.kenevans.gpxinspector.findNear"
            name="Find Near...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            defaultHandler="net.kenevans.gpxinspector.handlers.FindFilesNearHandler"
            id="net.kenevans.gpxinspector.findFilesNear"
            name="Find Files Near...">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.addStartupFilesFromPreferences"
            name="Add Startup Files from Preferences">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.remove"
            name="Remove">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.checkAll"
            name="Check All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.removeAll"
            name="Remove All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.uncheckAll"
            name="Uncheck All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.expand"
            name="Expand Level">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.collapse"
            name="Collapse Level">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.collapse"
            name="Collapse All">
      </command>
      <command
            categoryId="net.kenevans.gpxinspector.category"
            id="net.kenevans.gpxinspector.showInfo"
            name="Info...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.kenevans.gpxinspector.preferences.GpxInspectorPreferencePage"
            id="net.kenevans.gpxinspector.preferencePage"
            name="GPX Inspector">
      </page>
      <page
            category="net.kenevans.gpxinspector.preferencePage"
            class="net.kenevans.gpxinspector.preferences.StartupPreferencePage"
            id="net.kenevans.gpxinspector.startupPreferencePage"
            name="Startup">
      </page>
      <page
            category="net.kenevans.gpxinspector.preferencePage"
            class="net.kenevans.gpxinspector.preferences.KMLPreferencePage"
            id="net.kenevans.gpxinspector.kmlPreferencePage"
            name="KML">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.kenevans.gpxinspector.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
